

    <br>
    <div class="container">



        <div class="row" style="padding:10px 0;">

            <div class="col">
                
                {{if .arg_upload_disable}}
                {{else}}
                <div class="input-group mb-3">
                    <input class="form-control" type="file" id="upload_file" multiple >

                    <span class="input-group-text blink_me visually-hidden" id="signal">
                        <i class="bi bi-upload " ></i>
                    </span>
                </div>
                {{end}}

            </div>

            <div class="col">
                
                {{if .arg_folder_make_disable}}
                {{else}}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="New folder name" aria-label="New folder name" id="make_folder_input" >
                    <button class="btn btn-outline-secondary" type="button" id="make_folder_button">Do</button>
                </div>
                {{end}}
                
            </div>

        </div>


        <div class="row" style="padding:0 0;">

            <progress id="progress" max="100" value="0" >0</progress>

        </div>


        <div class="row" style="padding:10px 0;">



            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>

                    {{.Breadcrumb}}
                </ol>
            </nav>

        </div>


        <div class="row" style="padding:10px 0 100px 0;">
            

                
                
                    <div class='list-group'>
                        
                        {{range .rows}}
                            
                            {{if .IsDir}}
                                
                                <a href="{{.FullPath}}" class="list-group-item list-group-item-action fold">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><i class="bi bi-folder"></i> {{.Name}}</h5>
                                        
                                    </div>
                                </a>
                                
                            {{else}}
                                
                                <a href="{{.FullPath}}" class="list-group-item list-group-item-action file">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1"><i class="bi bi-file-earmark"></i> {{.Name}}</h6>
                                        <small class="text-muted">{{.SizeHuman}}</small>
                                    </div>
                                    <!--p class="mb-1">Some placeholder content in a paragraph.</p-->
                                    <small class="text-muted">{{.ModTimeHuman}}</small>
                                </a>
                                
                            {{end}}
                            
                        {{end}}

                    </div>
                
                
                
                

            
        </div>

    </div>








            


            
